# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1


# java binaries

*.class
target/

# eclipse project

.classpath
.project
.settings/

pom-backup.xml

.vagrant/machines/
*.swp
